# $FreeBSD: branches/2017Q1/databases/mysql57-server/files/my.cnf.sample.in 414707 2016-05-06 14:39:59Z riggs $

[client]
port                            = 3306
socket                          = /tmp/mysql.sock

[mysql]
prompt                          = \u@\h [\d]>\_
no_auto_rehash

[mysqld]
user                            = mysql
port                            = 3306
socket                          = /tmp/mysql.sock
bind-address                    = 127.0.0.1

# Storage locations
basedir                         = /usr/local
datadir                         = /var/db/mysql
tmpdir                          = /var/db/mysql_tmpdir
slave-load-tmpdir               = /var/db/mysql_tmpdir
secure-file-priv                = /var/db/mysql_secure

log-bin                         = mysql-bin
log-output                      = TABLE
master-info-repository          = TABLE
relay-log-info-repository       = TABLE
relay-log-recovery              = 1
slow-query-log                  = 1
server-id                       = 1
sync_binlog                     = 1
expire-logs-days                = 14
sync_relay_log                  = 1
binlog_cache_size               = 16M
expire_logs_days                = 30
default_password_lifetime       = 0
enforce-gtid-consistency        = 1
gtid-mode                       = ON
safe-user-create                = 1
lower_case_table_names          = 1
explicit-defaults-for-timestamp = 1
myisam-recover-options          = BACKUP,FORCE
open_files_limit                = 32768
table_open_cache                = 16384
table_definition_cache          = 8192
net_retry_count                 = 16384
key_buffer_size                 = {{ freebsd_mysql_key_buffer }}
max_allowed_packet              = 64M
query_cache_type                = 0
query_cache_size                = 0
long_query_time                 = 0.5

# InnoDB

innodb_buffer_pool_size         = {{ freebsd_mysql_innodb_psize }}
innodb_data_home_dir            = {{ freebsd_mysql_innodb_data_dir }}
innodb_log_group_home_dir       = {{ freebsd_mysql_innodb_log_dir }}
innodb_flush_method             = O_DIRECT
innodb_log_buffer_size          = 16M
innodb_write_io_threads         = {{ freebsd_mysql_innodb_write_io_threads }}
innodb_read_io_threads          = {{ freebsd_mysql_innodb_read_io_threads }}
innodb_autoinc_lock_mode        = 2
innodb-log-files-in-group       = 2
innodb-log-file-size            = {{ freebsd_mysql_innodb_logsize }}
innodb-flush-log-at-trx-commit  = 1
innodb-file-per-table           = 1
skip-symbolic-links

[mysqldump]
max_allowed_packet              = 256M
quote_names
quick
